<div class="container" style="font-size:.9em; color:black;"><br>

  <!-- NAGIVATION TAG -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="obj-tab" data-toggle="tab" href="#obj" role="tab" aria-controls="obj"
        aria-selected="true">Course Objectives</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="courseContent-tab" data-toggle="tab" href="#courseContent" role="tab" aria-controls="courseContent"
        aria-selected="false">Course Content</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" id="audience-tab" data-toggle="tab" href="#audience" role="tab" aria-controls="audience"
        aria-selected="false">Target Audience</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" id="fees-tab" data-toggle="tab" href="#fees" role="tab" aria-controls="fees"
        aria-selected="false">Course Fees</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" id="badge-tab" data-toggle="tab" href="#badge" role="tab" aria-controls="badge"
        aria-selected="false">IBM Digital Badge</a>
    </li>
  </ul>

  <!-- TAG CONTENTS -->
  <div class="tab-content" id="myTabContent">

    <!-- Course Objectives -->
    <div class="tab-pane fade show active container" id="obj" style="margin:2em 1em 1em 1em" role="tabpanel" aria-labelledby="obj-tab">
      <div class="media">
        <img src="https://chanabws.github.io/gocloud-client/assets/images/Component_1.png" width="80em" class="mr-3" alt="Component 1">
        <div class="media-body">
          <h5 class="mt-0">Component 1: Leadership Plan/Scope</h5>
          Leadership Session on Cloud Native, Microservices, DevOps andvPlan and scope first MVP project with the
          experts. Define the technical skills upgrade plan. <br><br>
          <div class="media mt-3">
            <img src="https://chanabws.github.io/gocloud-client/assets/images/Component_2.png" width="80em" class="mr-3" alt="Component 2">
            <div class="media-body">
              <h5 class="mt-0">Component 2: Acquire Techincal Skills</h5>
              Acquire Technical Skills with recommended CITREP endorsed courses. <br><br>
              <div class="media mt-3">
                <img src="https://chanabws.github.io/gocloud-client/assets/images/Component_3.png" width="80em" class="mr-3" alt="Component 3">
                <div class="media-body">
                  <h5 class="mt-0">Component 3: Transform Monolithic Solution</h5>
                  Transform monolithic solution to Cloud-Native application using Micro-services and DevOps practices
                  over a 3 months duration guided by experts.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Course Content -->
    <div class="tab-pane fade" id="courseContent" role="tabpanel" style="margin:2em 0.5em" aria-labelledby="courseContent-tab">
      <div class="card-deck">
        <div class="card">
          <div class="card-header text-center">
            <img src="https://chanabws.github.io/gocloud-client/assets/images/Component_1.png" class="card-img-top container img-fluid img-thumbnail"
              style="border-style:none;background-color:rgba(0,0,0,.001); width:10em" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Component 1: Leadership Plan/Scope</h5>
            <p class="card-text">
              <br>IBM will work with ICT SMEs to deliver a Project Plan that is signed off by ICT SME Management Level
              Project Sponsor.
              <!-- <br>o Project Scope: Scoping of a project to undergo Cloud Native, Micro-services development and DevOps
              to achieve a cloud native app/solution that can be deployed iteratively.
              <br>o Desired Outcomes and Success Metrics: Defining outcomes and deliverables, including the
              skills\capabilities to be developed by SMEs’ staff as well as the Cloud Native App\Solution developed
              <br>o Commitment on Resources to complete a project: ICT SMEs must demonstrate commitment by assigning
              team members to the project for the project period of 4 months -->
              
              <br><br>As part of the Go Cloud Native: IBM programme, IBM will organize a one full day IBM Go Cloud Native
              Seminar Workshop specially for Leadership Team from all ICT SMEs in the same batch.
              <!-- <br>o Awareness talks on Cloud Native, Microservices, DevOps and Agile.
              <br>o Overview discussion on Microservices Reference Architecture with guidance on microservices business
              decision, architecture and design decision, implement decision, resiliency decision and operation
              decisions.
              <br>o Sharing on Critical Success Factors and Success Stories
              <br>o Introduction to IBM Global PartnerWorld programme
              <br>o Demonstration of Cloud Native, Microserviecs and DevOps -->
              
              <br><br>As part of the Go Cloud Native: IBM programme, IBM will have one full day deep-dive workshop with each
              ICT SME enrolled in the programme. 
              <!-- <br>In the deep drive workshop, we will
              <br>o identify the target cloud native app\solution
              <br>o identify the Minimum Viable Product (MVP)
              <br>o identify the milestones for the 4 months project
              <br>o identify the named technical personel to be part of the project team and to be trained under
              Component 2 of the programme
              <br>o identify the skills\capabilities upgrading roadmap for the SME’s staff
              <br>o identify operational, security and governance needs of the Cloud Native App\Solution to be developed.
              <br>o Gaining ICT SME Management understanding and commitment prior to start of the programme -->
            </p>
          </div>
          <!-- <div class="card-footer">
            <div class="text-muted">
              DELIVERABLES: <br>
              Project Plan
              <br>OR
              <br>• A list of relevant training courses
              <br>• Named personnel that underwent/ will be undergoing training (not restricted to project)
            </div>
          </div> -->
        </div>
        <div class="card">
          <div class="card-header text-center">
            <img src="https://chanabws.github.io/gocloud-client/assets/images/Component_2.png" class="card-img-top container img-fluid img-thumbnail"
              style="border-style:none;background-color:rgba(0,0,0,.001); width:10em" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Component 2: Acquire Techincal Skills</h5>
            <p class="card-text">
              <br><h6>IBM Cloud Native Bootcamp</h6>
              IBM propose IBM Cloud Native Developer Course to provide the foundation knowledge and skills for ICT
              SME’s technical staff to be skill up to support the ICT SME adoption of Cloud Native, Microservices and
              DevOps.

              <br><br><h6>IBM Cloud Native ICP Bootcamp</h6>
              This course delivers expert–led training on how to approach cloud application development on IBM Cloud
              ICP.

              <br><br><h6>IBM Cloud Garage Architect Bootcamp</h6>
              IBM propose IBM Cloud Native Architect course to provide the intermediate knowledge and skills for ICT
              SME’s technical architect and lead developer to be skill up to support the architecture, design, and
              process of
              developing, deploying and maintaining cloud-native applications on Cloud. This skill will help ICT SME
              strategic technical planning and enhancement of their offering with Cloud Native, Microservices and
              DevOps.
            </p>
          </div>
          <!-- <div class="card-footer">
            <div class="text-muted">
              DELIVERABLES: <br>
              A set of courses that participants from ICT SMEs will need to complete as pre-requisite training as
              indicated in the project plan in Component 1 before they embark on the Project and Practical work in
              Cloud-Native for Component 3.
              <br>• Completion of the training will be in the form of the participants’ certifications from the
              examinations from training or acknowledgements after they have completed training in these courses.
              <br>OR
              <br>• A list of relevant training courses
              <br>• Named personnel that underwent/ will be undergoing training (not restricted to project)
            </div>
          </div> -->
        </div>
        <div class="card">
          <div class="card-header text-center">
            <img src="https://chanabws.github.io/gocloud-client/assets/images/Component_3.png" class="card-img-top container img-fluid img-thumbnail"
              style="border-style:none;background-color:rgba(0,0,0,.001); width:10em" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Component 3: Transform Monolithic Solution</h5>
            <p class="card-text">
              <br>IBM will provide a coaching approach to guide ICT SMEs to complete the scoped project to develop\transform
              an application to Cloud Native architecture using Micro-services and DevOps practices during the 3 months
              duration.
              <!-- <br>o On site – Up to maximum of 40 hours on weekday
              <br>o Consultancy and Guidance
              <br>o Remote – Office hours on weekday
              <br>o Email support
              <br>o Slack Chat group
              <br>The guidance IBM provides will include the following:-
              <br>o Best practise of cloud native application development on top of containers and Kubernetes platform.
              <br>o Advice/educate of tool chains for monolithic migration assessment
              <br>o Advice/educate the tool chains selection for the CI/CD setup
              <br>o Best practise on CI/CD pipeline build up for the MVP to be developed.
              <br>o Advice/educate the workload, storage, service exposure and discovery options on cloud native
              platform (Kubernetes) for the MVP to be developed.
              <br>o Advice/educate the monitoring, logging and other operational requirement for the MVP to be developed.
              <br>o Advice/educate the auto recovery and auto scalability option setup.
              <br>o Advice on the application rolling out.
              <br>o Advice on the backup and disaster recovery options.
              <br>o General advice/discussion on application developing/coding practise.

              <br><br>Meantime, IBM will provide S$3,000 Cloud credit to provision an IBM Cloud platform with IBM Cloud
              online support during the programme period. -->
            </p>
          </div>
          <!-- <div class="card-footer">
            <div class="text-muted">
              DELIVERABLES: <br>
              Product architecture diagram and screen shots of Cloud-Native application/ services developed
              <br>• The completed Cloud-Native application/ service developed by each ICT SME’s project team that is
              based on Microservices architecture and development methods and DevOps practices
              <br>• Feedback from the ICT SMEs on the effectiveness of capability transfer in the area of Cloud-native
              and impact of the project on their productivity/ business (Note: Template will be provided)
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- Target Audience -->
    <div class="tab-pane fade" id="audience" role="tabpanel" style="margin:2em;" aria-labelledby="audience-tab">
      <P>
        Working adults who would like to gain an increased understanding of digital technology for personal productivity
        and who would like an immersive experience of technology at work focusing on digital collaboration working
        across an organization, using data to create business insights, exploring digital tools to transform insights into
        actions and experiencing artificial intelligence starting with building an AI Powered chatbot.
      </P>
    </div>

    <!-- Course Fees -->
    <div class="tab-pane fade" id="fees" role="tabpanel" style="margin:2em 1em; text-align:center;"
      aria-labelledby="fees-tab">

      <div class="row">

        <!-- // Standard -->
        <div class="col">
          <h4>Standard</h4>
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Component 2</h5>
                <p class="card-text">
                  Per participant with zero foundation knowledge
                </p>
              </div>
              <div class="card-footer card-header" style="font-size:1.8em;">
                S$3,000
              </div>
              <div class="card-footer" style="background:none;">
                Full fee <br><br>
                <small>*Price exclusive of GST</small>
              </div>
            </div>
            <div class="card">
              <!-- // <img src="..." class="card-img-top" alt="..."> -->
              <div class="card-body">
                <h5 class="card-title">Component 1 & 3</h5>
                <p class="card-text">
                  Per participant with zero foundation knowledge
                </p>
              </div>
              <div class="card-footer card-header" style="font-size:1.8em;">
                S$30,000
              </div>
              <div class="card-footer" style="background:none;">
                Full fee <br><br>
                <small>*Price exclusive of GST</small>
              </div>

            </div>
          </div>
        </div>

        <!-- // Singaporean / PR -->
        <div class="col">
          <h4>Singaporean / PR</h4>
          <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Component 2</h5>
                <p class="card-text">
                  Per participant with zero foundation knowledge
                </p>
              </div>
              <div class="card-footer card-header" style="font-size:1.8em;">
                S$900
              </div>
              <div class="card-footer" style="background:none;">
                After CITREP or SkillsFuture subsidize<br>
                <small>*Price exclusive of GST</small>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Component 1 & 3</h5>
                <p class="card-text">
                  Per participant with zero foundation knowledge
                </p>
              </div>
              <div class="card-footer card-header" style="font-size:1.8em;">
                S$15,000
              </div>
              <div class="card-footer" style="background:none;">
                After IMDA's 50%<br>subsidize<br>
                <small>*Price exclusive of GST</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <p>
        All Singaporeans aged 25 and above can use their $500 SkillsFuture Credit from the government to pay for a wide
        range of approved skills-related courses. Visit the SkillsFuture Credit website
        (<a href="http://www.skillsfuture.sg/credit" target="_blank">www.skillsfuture.sg/credit</a>)
        to choose from the courses available on the SkillsFuture Credit course directory.
      </p>
    </div>

    <!-- IBM Digital Badge -->
    <div class="tab-pane fade" id="badge" role="tabpanel" style="margin:2em" aria-labelledby="badge-tab">

      <div class="container">
        <div class="row text-center">
          <div class="col-2"></div>
          <div class="col-md" style="margin-top:1.5em;">
            <img src="https://chanabws.github.io/gocloud-client/assets/images/Cloud_Native_Bootcamp.png" style="width:13em;" class="img-fluid" alt="" srcset="">
          </div>
          <div class="col-md" style="margin-top:1.5em;">
            <img src="https://chanabws.github.io/gocloud-client/assets/images/Cloud_Native_ICP_Bootcamp.png" style="width:13em;" class="img-fluid" alt="" srcset="">
          </div>
          <div class="col-2"></div>
        </div><br>
        <div class="row container">
          <div class="col-md-3">
            <a href="https://www-03.ibm.com/services/learning/ites.wss/zz-en?pageType=page&c=M425350C34234U21" target="_blank">
              <img src="https://chanabws.github.io/gocloud-client/assets/images/Digital_Badge_Pgrm_v1.png" style="width:9em;" class="img-fluid" alt="" srcset="">
            </a>
          </div>
          <div class="col" style="margin-top:2em; font-size:1.1em;">
              Upon completion of the course, the learner will be awarded either of the following IBM Digital Badge respectively:
              <ol>
                <li>Cloud-Native BootCamp</li>
                or
                <li>Cloud-Native ICP BootCamp</li>
              </ol>
              <small>
                <i>
                  Please refer to 
                  <a href="" target="_blank" rel="noopener noreferrer" data-toggle="modal" data-target="#modalDBadge">notes</a>
                   for further information
                </i>
              </small>
          </div>
          <div class="col-2"></div>
        </div>

      </div>
    </div>

  </div>
</div>
