<!-- ****************  TOP NAVIGATION BAR  *************** -->
<nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: rgb(211, 210, 210); font-size:14px;">
  <!-- <a class="navbar-brand" href="https://www.ibm.com/sg-en/" target="_blank">
    <img src="https://chanabws.github.io/gocloud-client/assets/images/ibm_black-sm.png" height="28" class="d-inline-block align-top" alt="IBM">
  </a>&nbsp;&nbsp;&nbsp; -->
  <font size="+.99">GoCloud</font>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
    <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
    <div class="navbar-nav my-2 my-lg-0">
      <a routerLink="/home" fragment="home" routerLinkActive="active" class="nav-item nav-link my-2 my-sm-0">Home</a>
      <a routerLink="/intro" fragment="intro" routerLinkActive="active" class="nav-item nav-link my-2 my-sm-0">Intro</a>
      <a routerLink="/course" fragment="course" routerLinkActive="active" class="nav-item nav-link my-2 my-sm-0">Courses</a>
      <a routerLink="/contact" fragment="contact" routerLinkActive="active" class="nav-item nav-link my-2 my-sm-0">Contact</a>
    </div>
  </div>
</nav>
