<!-- BANNER -->
<div>
  <img src="https://chanabws.github.io/gocloud-client/assets/images/banner06.jpg" width="100%" alt="">
</div><br>

<!-- TAG -->
<div class="container">

  <!-- Modal - Programme Consultation Form -->
  <div class="modal fade" id="modalConsult" tabindex="-1" role="dialog" aria-labelledby="modalConsultTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalConsultTitle">Consultation Programme Registration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cancel">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: rgba(176, 196, 222, 0.253);">
          <app-form-consult></app-form-consult>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - Coprate Registration Form -->
  <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="modalRegisterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRegisterTitle">Corporate Programme Registration</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: rgba(176, 196, 222, 0.253);">
          <app-form-programme></app-form-programme>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - Digital Badge Notes -->
  <div class="modal fade" id="modalDBadge" tabindex="-1" role="dialog" aria-labelledby="modalDBadgeTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDBadgeTitle">IBM Badge Notice:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: rgba(176, 196, 222, 0.253);">
          <ol>
            <li>
              <strong>Estimated time for Badge issuing</strong>
              <br>Please allow 5 working days from the completion of the workshop for the badge to be issued. 
              Once the badge is issued, you will receive an email notification from Acclaim to accept your badge.
            </li><br>
            <li>
              <strong>Badge Issuer Contact</strong>
              <br>Any questions related to IBM GoCloud Programme Digital Badge, should be directed to 
              <a href="mailto:apskill@sg.ibm.com">apskill@sg.ibm.com</a>.
            </li><br>
            <li>
              <strong>IBM Badge Program FAQ</strong>
              <br>You can find some of the frequently asked questions on IBM Badge Program 
              <a href="https://www-03.ibm.com/services/learning/ites.wss/zz-en?pageType=page&c=P430723G05904L37" target="_blank" rel="noopener noreferrer">here</a>.
            </li><br>
            <li>
              <strong>General Badge Program questions</strong>
              <br>For unresolved issues by the Badge Issuer or Acclaim support channels and general program inquires, 
              we have a general support ID: <a href="mailto:badge@us.ibm.com">badge@us.ibm.com</a>.
            </li><br>
            <li>
              <strong>Acclaim account issues</strong>
              <br>Acclaim provides direct support for badge earner account and profile concerns, as well as issues related 
              to claiming badges after receiving a notification: <a href="http://support.youracclaim.com/" target="_blank" rel="noopener noreferrer">http://support.youracclaim.com/</a>.
            </li><br>
            <li>
              <strong>Credly's Acclaim platform</strong>
              <br>IBM leverages the services of Credly's Acclaim platform, a 3rd party data processor authorized by IBM and 
              located in the United States, to assist in the administration of the IBM Digital Badge program. 
              In order to issue you an IBM Digital Badge, your personal information (name, email address, and badge earned) 
              will be shared with the Credly’s Acclaim platform.  You will receive an email notification from Acclaim with instructions 
              for claiming the badge. Your personal information is used to issue your badge and for program reporting and operational purposes. 
              It will be handled in a manner consistent with IBM privacy practices. 
              <br>The IBM Privacy Statement can be viewed here: <br>
                <a href="https://www.ibm.com/privacy/us/en/" target="_blank" rel="noopener noreferrer">https://www.ibm.com/privacy/us/en/</a>. 
              <br>IBM employees can view the IBM Internal Privacy Statement here: <br>
                <a href="https://w3.ibm.com/w3publisher/w3-privacy-notice" target="_blank" rel="noopener noreferrer">https://w3.ibm.com/w3publisher/w3-privacy-notice</a>.
            </li>
          </ol>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

</div>