<!-- INTRODUCTION -->
<div class="container">
  <div class="row">
    <div class="col">
      <hr style="width:15em; border-top: 3px solid rgba(0, 0, 0, 0.062);">
      <h5 class="mt-0 mb-1">Positioning for the future: Intelligent IT for the anytime, anywhere Enterprise</h5>
      <br>
      <p>
        IBM adopts industry proven Cloud Garage Method to help ICT SMEs in Singapore achieve their first success
        in area of Cloud Native, Microservices and DevOps.
        <br><br>
        IBM provides services to bring the awareness of Cloud Native, Microservices and DevOps to the management team
        of ICT SMEs. IBM also provides options for ICT SMEs to develop technical skills and develop a minimum viable
        product under IBM's guidance.
      </p>
      <p>
        This programme comprises of 3 components in the area of Cloud-native and transport the company with the
        impact
        of the project on their productivity/business.
        <br><br>
        Hope you will have a Coorporate enjoyable learning experience with us.
      </p><br>
      <strong>Register now and be Future Enterprise Ready!</strong><br><br>
      <!-- <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalConsult">
          Programme Consultation (FOC)
        </button>&nbsp; -->
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalRegister">
        Registration
      </button>
    </div>
    <div class="col-md-5 text-center" style="margin:2em 0;">
      <img src="https://chanabws.github.io/gocloud-client/assets/images/cloud_computing_technology.png" class="img-fluid" alt="Cloud Computing Technology">
    </div>
  </div><br>
</div>